<%- include("../partials/header.ejs") %>

<h2>Welcome to <%= roomOwner.username %>'s Chat</h2>

<ul id="chat-window"></ul>

<form id="message-form">
	<input type="text" name="message" id="message" autocomplete="off" />
	<button>Send</button>
</form>

<script>
	const roomOwner = "<%= roomOwner._id %>"
	const chatUser = "<%= username %>"
</script>

<script src="/chatClients/myRoomClient.js"></script>


<%- include("../partials/footer.ejs") %>
