<%- include("../partials/header.ejs") %>

<h2>Welcome to the Marketplace!</h2>

<% if (message) { %>
    <div class="message-box">
        <%= message %>
    </div>
<% } %>

<% if (loggedIn) {%>
	<div>
		<a href="/market/new">Sell an Item</a>
	</div>
<% } %>


    <% items.forEach((item) => { %>
        <div class="item-for-sale">
            <div class="card">
                <div class="card-header">
                    <h4><a href="/market/<%= item.id %>"><%= item.name %></a></h4>
                </div>
            <p>Seller: <a href="/user/<%= item.user.id %>"><%= item.user.username %></a></p>
            <p>For: <%= item.price %> Bells</p>
            </div>
        </div>
    <% }) %>

<h2>Turnip Prices: </h2>
    <% islands.forEach((island) => { %>
        <% if(island.turnipPrice > 0) { %>
        <h2>Island name: <%= island.name %></h2>
        <h3>Island owner: <a href="/user/<%= island.owner._id %>">
            <%= island.owner.username %></h3>
        </a>
        <h3>Turnip price: <%= island.turnipPrice %> </h3>
    <% } %>
    <% }) %>


<%- include("../partials/footer.ejs")%>
