<%- include("../partials/header.ejs") %>

<h2 class="item-header">Welcome to the Marketplace!</h2>

<% if (message) { %>
    <div class="message-box">
        <%= message %>
    </div>
<% } %>

<% if (loggedIn) {%>
	<div class="sell-item">
		<button id="sell-item"><a href="/market/new">Sell an Item</a></button>
	</div>
<% } %>

<div id='market-index'>
<div id="items">
    <h2 class="item-header">Items</h2>
    <% items.forEach((item) => { %>
        <div class="list-group">
            <a href="/market/<%= item.id %>">
                <div class="list-group-item">
                    <p><%= item.name %></p>
                    <p>Seller: <%= item.user.username %></p>
                    <p>For: <%= item.price %> Bells</p>
                    <% if(item.hot === true) { %>
                      <p>HOT 🔥</p>
                    <% } %>
                </div>
            </a>
        </div>
    <% }) %>
</div>

<div id="turnip">
    <h2 class="item-header">Turnip Prices: </h2>
    <table id='turnip'>
        <thead>
            <tr class="row">
                <td class="col-md">Price</td>
                <td class="col-md">Island</td>
                <td class="col-md">Island Owner</td>
            </tr>
        </thead>
        <tbody>
            <% islands.forEach((island) => { %>
                <% if(island.turnipPrice > 0) { %>
                <tr class="row">
                    <td class="col-md">$<%= island.turnipPrice %></td>
                    <td class="col-md"><%= island.name %></td>
                    <td class="col-md"><a href="/user/<%= island.owner._id %>">
                            <%= island.owner.username %>
                        </a></td>
                </tr>
                <% } %>
            <% }) %>
        </tbody>
    </table>
</div>

</div>


<%- include("../partials/footer.ejs")%>
