<%- include("../partials/header.ejs") %>

<% if (message) { %>
    <div class="message-box">
        <%= message %>
    </div>
<% } %>

<h3 class="find">Find an Item:</h3>
<form class="search">
	<label for="searchInfo">Find Item:</label>
	<input type="search" name="searchInfo" id="searchInfo" />
	<button>Search</button>
</form>

<div id="item-index">
    <div class="list-group">
	<% searchResults.forEach( (result) => {%>
        <div class="list-group-item">
            <div>
                <a href="/market/<%= result._id %>">
                    <%= result.name %>
                </a>
                <a href="/user/<%= result.user._id %>">
                    <%= result.user.username %>
                </a>
            </div>
        </div>
	<% }) %>
    </div>
</div>


<%- include("../partials/footer.ejs") %>
