<%- include("../partials/header.ejs") %>

<% if (message) { %>
	<div class="message-box">
		<%= message %>
	</div>
<% } %>

<div class="item-info">
	<h2><%= item.name %></h2>

	<h3>Price: <%= item.price %></h3>

	<h3>User to contact: <a href="/user/<%= item.user._id %>"><%=item.user.username %></a></h3>
</div>

<div class="admin">
	<% if (item.user._id == userId) { %>
		<h4>Admin Controls</h4>
		<a href="/market/<%=item.id%>/edit">Edit</a>
		<form action="/market/<%= item.id %>?_method=delete" method="post">
			<button>Delete Item</button>
		</form>
		<% } %>
</div>

<%- include("../partials/footer.ejs")%>
