<%- include("../partials/header.ejs") %>

<h2>this page shows a list of users</h2>

<ul>
    <% users.forEach((user) => { %>
    <div class='card'>
        <img src="/user/<%= user._id %>/pic" width="100px">
        <a href="/user/<%= user._id %>"><li><%= user.username %></li></a>
    </div>
    <% }) %>
</ul>

<%- include("../partials/footer.ejs")%>
