<%- include("../partials/header.ejs") %>

<h2>this page shows a list of users</h2>

<div id='user-index'>
<div class="list-group">
    <% users.forEach((user) => { %>
        <a href="/user/<%= user._id %>" class="list-group-item">
            <img src="/user/<%= user._id %>/pic">
            <%= user.username %>
        </a>
    <% }) %>
</div>
</div>
<%- include("../partials/footer.ejs")%>
