<%- include("../partials/header.ejs") %>

<% if (message) { %>
    <div class="message-box">
        <%= message %>
    </div>
<% } %>

<h3 class="find">Find a User:</h3>
<form class="search">
	<label for="searchInfo">Find User:</label>
	<input type="search" name="searchInfo" id="searchInfo" />
	<button>Search</button>
</form>

<div id="user-index">
    <div class="list-group">
	<% searchResults.forEach( (result) => {%>
        <a href="/user/<%= result._id %>" class="list-group-item">
            <img src="/user/<%= result._id %>/pic">
            <%= result.username %>
        </a>
	<% }) %>
    </div>
</div>


<%- include("../partials/footer.ejs") %>
