<%- include("../partials/header.ejs") %>

<% if (message) { %>
	<div class="message-box">
		<%= message %>
	</div>
<% } %>

<h2>Update Your Island</h2>
<form method="POST" action="/island/<%= island.id %>?_method=PUT">
	<fieldset>
		<div>
			<label for="turnipPrice">Current Turnip Price:</label>
			<input type="number" name="turnipPrice" id="turnipPrice" value="<%= island.turnipPrice %>" />
		</div>
	</fieldset>
	<button>Submit</button>
</form>

<%- include("../partials/footer.ejs") %>