<%- include("../partials/header.ejs") %>

<h2>this page shows a list of pictures to rate</h2>

<ul>
    <% pictures.forEach((picture) => { %>
    <div class='card' style="width: 10rem">
        <img src="/rating-pictures/<%=picture._id %>/img" style="width: 100%">
        <a href="/rating-pictures/<%=picture._id %>/img"><%= picture.name %></a>
    </div>
    <% }) %>    
</ul>

<%- include("../partials/footer.ejs")%>