<%- include("../partials/header.ejs") %>

<a href="/rating-pictures/">All</a> |
<a href="/rating-pictures/islands">Islands</a> |

<h2>Check Out People's Outfits!</h2>

<ul>
    <% pictures.forEach((picture) => { %>
    <div class='rate-picture'>
        <div class='card'>
            <a href="/rating-pictures/<%=picture._id %>">
                <div class="card-header">
                    <h3>
                    <%= picture.name %>
                    </h3>
                </div>
            </a>
            <small><%= picture.datePosted.toLocaleString() %></small>
            <img src="/rating-pictures/<%=picture._id %>/img" class='card-img-top'>
            <p>Likes: <%= picture.likes.length %></p>
            <% if(! picture.likes.includes(userId) && loggedIn) { %>
                <form action="/rating-pictures/<%= picture._id %>?_method=put" method="post">
                  <button>Like Picture</button>
                </form>
            <% } %>
        </div>
    </div>
    <% }) %>
</ul>

<%- include("../partials/footer.ejs")%>
