<%- include("../partials/header.ejs") %>

<div class='rate-picture'>
        <div class='card'>
            
                <div class="card-header">
                    <h3>
                    <%= post.name %>    
                    </h3>
                </div>
            
            <img src="/rating-pictures/<%= post._id %>/img" class='card-img-top'>
            <p>Likes: <%= post.likes.length %></p>
            <% if(! post.likes.includes(userId) && loggedIn) { %>
                <form action="/rating-pictures/<%= post._id %>?_method=put" method="post">
                  <button>Like Picture</button>
                </form>
            <% } %>
        </div> 
        <% if (loggedIn) {%>
        <a href="/rating-pictures/<%= post._id %>/comment">Leave a Comment</a>
        <% } %>
    <% comments.forEach( (comment) => {%>
    	<div class="card">
    		<div class="card-header">
    			<a href="/user/<%= comment.user._id %>"><%= comment.user.username %></a>
    		</div>
    		<div>
    			<%= comment.text %>
    		</div>
    	</div>
    <% }) %>
</div>

<%- include("../partials/footer.ejs")%>